footer {
  clear: both;
  position: relative;
  margin-top: 550px;
}

input {
  width: 30%;
  /* Full width */
  padding: 12px;
  /* Some padding */
  border: 1px solid #ccc;
  /* Gray border */
  border-radius: 4px;
  /* Rounded borders */
  box-sizing: border-box;
  /* Make sure that padding and width stays in place */
}


.user-cards-container {
  display: flex;
  flex-wrap: wrap;
  margin-left: 25%;
}

.user-card {
  width: 700px;
  height: 150px;
  background-color: #f5f5f5;
  border-radius: 10px;
  box-shadow: 0px 0px 10px #c2c2c2;
  padding: 20px;
  margin: 20px;
}

.user-img {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  object-fit: cover;
  float: left;
  margin-right: 20px;
}

.user-info {
  text-align: left;
}

.user-title {
  font-size: 14px;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
}

.user-email {
  font-size: 12px;
  color: #666;
  margin-bottom: 10px;
}

.form-outline {
  width: 500px;
}

.thumb-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}

.thumb-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.thumb {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px;
  cursor: pointer;
}

.thumb i {
  font-size: 24px;
  margin-right: 10px;
}

.thumb-count {
  font-size: 18px;
  font-weight: bold;
}

h5 {
  text-align: center;
}

.checked {
  color: orange;
}

.mac {
  background-image: url('NEWIMAGE.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 950px;
}
.btn-primary{
  margin-left:7%;
}