.video,
.text {
    flex: 1;
}

P {
    white-space: nowrap;
    text-overflow: ellipsis;
}

.user-img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    object-fit: cover;
    float: left;
    margin-right: 20px;
}

h5{
    white-space: nowrap;
    text-overflow: ellipsis;
}


.VIDEOBACKGROUND {
    background-image: url('5569777.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 700px;
}
